#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    keymap {
        compatible = "zmk,keymap";

        Normal {
            display-name = "QWERTY";
            bindings = <
&kp ESC          &kp Q  &kp W  &kp E  &kp R   &kp T                              &kp DOWN              &kp Y     &kp U      &kp I      &kp O    &kp P     &kp BSPC
&kp CLCK         &kp A  &kp S  &kp D  &kp F   &kp G                    &kp LEFT  &kp ENTER  &kp RIGHT  &kp H     &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&rgb_ug RGB_EFF  &kp Z  &kp X  &kp C  &kp V   &kp B      &kp C_MUTE              &kp UP                &kp N     &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp LEFT_ALT
                               &to 1  &tog 2  &kp LSHFT                                                &kp LGUI  &kp SPACE  &kp ENTER
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        Numbers {
            bindings = <
&trans  &kp N1                           &kp N2                             &kp N3                             &kp N4                             &kp N5                                                        &rgb_ug RGB_BRI                   &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &trans
&trans  &rgb_ug RGB_COLOR_HSB(0,100,50)  &rgb_ug RGB_COLOR_HSB(220,100,50)  &rgb_ug RGB_COLOR_HSB(130,100,50)  &rgb_ug RGB_COLOR_HSB(276,100,50)  &rgb_ug RGB_COLOR_HSB(317,100,50)            &rgb_ug RGB_SPD  &rgb_ug RGB_TOG  &rgb_ug RGB_SPI  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                           &trans                             &trans                             &trans                             &trans                             &trans                     &rgb_ug RGB_BRD                   &trans  &trans  &trans  &trans  &trans  &trans
                                                                            &to 0                              &kp LCTRL                          &trans                                                                                          &trans  &trans  &trans
            >;

            label = "NUM";
        };

        Symbol {
            display-name = "ALT!";
            bindings = <
&trans           &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT                    &trans          &kp CARET       &kp AMPS              &kp ASTRK              &kp LPAR  &kp RPAR  &kp BSPC
&trans           &trans    &trans  &trans    &trans    &trans               &trans  &trans  &trans  &kp MINUS       &kp EQUAL             &kp LBKT               &kp RBKT  &kp BSLH  &kp GRAVE
&rgb_ug RGB_TOG  &trans    &trans  &trans    &trans    &trans     &trans            &trans          &kp UNDER       &kp PLUS              &kp LBRC               &kp RBRC  &kp PIPE  &rgb_ug RGB_EFF
                                   &trans    &to 0     &trans                                       &kp LEFT_SHIFT  &kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)
            >;

            label = "ALT!";
        };
    };
};
